
html, body {
  margin: 0;
  padding: 0;
}


h1 {
  margin: auto;
  position: absolute;
    left: 120px;
    top: 150px;
  text-align: center;
  color: cornflowerblue;
  text-shadow: 3px 2px rgb(247, 241, 241);
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 2em;
  letter-spacing: 3px;
}
h3 {
  margin: auto;
  font-family: 'Share', cursive;
  text-align: center;
  position: absolute;
    left: 200px;
    top: 300px;
  letter-spacing: 3px;
  font-size: 0.50em;
}
#button{
  font-family: 'Share', cursive;
  color:rgb(247, 241, 241)
  
}

   

    body {
      /* margin: 0; */
      /* font-family: 'Lato', sans-serif; */
      font-size: 45pt;
      font-family: 'Share', cursive;
    }
    .interface{
      color:rgb(247, 241, 241)
    }
    .overlay {
      height: 100%;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgba(99, 97, 97, 0.9);
      overflow-x: hidden;
      transition: 0.5s;
    }

    .overlay-content {
      position: relative;
      top: 1%;
      width: 100%;
      text-align: center;
      margin-top: 30px;

      color: #f1f1f1;
    }

    

    .move {
      font-size: 30pt
    }
  
